.cards__filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0 0 40px;
    min-height: 40px;
    position: sticky;
    top: 88px;
    background-color: #fff;
}

@media screen and (max-width: 960px) {
    .cards__filter {
        gap: 10px;
    }
}

@media screen and (max-width: 768px) {
    .cards__filter {
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 32px;
        top: 64px;
    }
}