.header__inner {
    padding: 24px 138px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header__inner {
        padding: 12px 15px;
    }
}