.menu__item {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #FFFFFF;
    margin: 0 20px 20px;
    min-width: 115px;
}

.menu__item:last-of-type {
    margin: 0;
}